* {
    background-color: transparent;
}

body {
    @media(min-width: 897px) {
        background-image: url("assets/images/bg.png");
        background-attachment: fixed;
        background-position: top right;
        background-size: 40%;
        background-repeat: no-repeat;
        padding-top: 5rem;
    }
}

.markdown {
    max-width: 650px;
    ul, li {
        margin: 1rem 0;
    }
}

.book-brand {
    padding: 5px;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.book-menu-content {
    padding-top: 5rem!important;
}

.book-toc-content {
    position: fixed!important;
    top: 50%!important;
    overflow: visible!important;
    nav {
        position: relative;
        top: -40%;
    }
}

.book-toc a, .book-menu a.active {
    color: #910A33;
}

.book-menu ul a {
    border-color: white;
    transition: border-color .33s, color .33s;
    border-bottom: 2px solid white;
    display: inline;
}

.book-menu ul a.active {
    font-weight: bold;
}

.book-menu ul a:hover, .book-menu ul a.active {
    opacity: 1;
    color: #910A33;
    border-color: #910A33;
}