* {
    background-color: transparent;
}

body {
    background-image: url("assets/images/bg.png");
    background-attachment: fixed;
    background-position: top right;
    background-size: 40%;
    background-repeat: no-repeat;
    // @media(max-width: 896px) {
    //     background-position: 100% -190px;
    // }
    @media(min-width: 897px) {
        padding-top: 5rem;
    }
}
//Unfuck these in dark mode
// label[for="toc-control"], label[for="menu-control"],  {
//     background-color: white;
//     border-radius: 5px;
//     padding: 1px 2px;
// }

h1 {
    // text-transform: uppercase;
    font-weight: 700!important;
    // text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem!important;
    border-bottom: 2px solid;
    // display: inline-block;
    margin: 0 auto;
    &.index-title {
        @media(min-width: 897px) {
            // display: none;
        }
    }

}

h2, h3, h4 {
    font-weight: bold!important;
}

.markdown {
    max-width: 650px;
    ul, li {
        margin: 1rem 0;
    }
    a, a:visited {
        text-decoration: underline;
        color: #910A33
    }
    @media(max-width: 896px) {
        padding-top: 2rem;
    }
    .grid {
        @media(min-width: 651px) {
            display: flex;
            gap: 2rem;
            > .col-6 {
                width: 50%;
            }
            > .col-4 {
                width: 33.33%;
            }
        }
    }
}

.book-brand {
    padding: 5px;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.book-menu-content {
    padding-top: 5rem!important;
}

.book-toc-content {
    position: fixed!important;
    top: 50%!important;
    overflow: visible!important;
    nav {
        position: relative;
        top: -40%;
    }
}

.book-toc a, .book-menu a.active, #TableOfContents a {
    color: #910A33;
}

.book-menu ul a {
    border-color: white;
    transition: border-color .33s, color .33s;
    border-bottom: 2px solid white;
    display: inline;
}

.book-header {
    @media(max-width: 896px) {
        strong {
            display: none;
        }
    }
}

.book-menu {
    ul {
        span {
            font-weight: bold;
        }
        a {
            &.active {
                font-weight: bold;
                color: #910A33;
                border-color: #910A33;
            }
            &:hover {
                color: #910A33;
                opacity: 1;
            }
        } 
    }
}